@charset "UFT-8";

/* Todas as demais mídias */

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }
   body {
    background-image: url(../imagens/back-print.jpg); /*
     desnecessário */
   }
   main h1 {
    text-shadow: none;
    color: black;
   }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    
        img#phone {display: none;}
        img#tablet {display: block;}
        img#print {display: none;}
        img#pc {display: none;}
        img#tv {display: none;}
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.);
    }

    
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}


@media screen and (min-width: 1201px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}
